@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

body {
	position: relative;
	font-family: 'inter', sans-serif;
}

.unit-converter {
	max-width: 1300px;
	margin: 0 auto;

	display: flex;
	align-items: flex-start;
}

.units-selector-container {
	width: 50%;
	display: inline-block;
	padding: 20px;
	box-sizing: border-box;
}

.input-output-container {
	width: 50%;
	display: inline-block;
	padding: 20px;
	box-sizing: border-box;
}

.input-output-container label {
	font-size: 48px;
	text-align: center;
	margin-bottom: 50px;
}

textarea {
	width: 100%;
	resize: none;
	box-sizing: border-box;
	border-radius: 4px;
	border: 1px solid hsl(0, 0%, 80%);
	padding: 5px;
	font-family: 'inter';
	font-size: 16px;
	transition: all var(--transition);
}

textarea:hover {
	border-color: hsl(0, 0%, 70%);
}

textarea:focus {
	border-color: #2684ff;
	box-shadow: 0 0 0 1px #2684ff;
	outline: none;
}

.unit {
	width: 400px;
	margin: 20px auto 0;
}

.unit-selection-list {
	margin-top: 2px;
}

h1 {
	text-align: center;
	font-size: 48px;
	margin-bottom: 40px;
	font-weight: 500;
}

.input-output-container h1 {
	margin-bottom: 62px;
}

.css-13cymwt-control {
	transition: all var(--transition);
}

.output-container h1 {
	margin-top: 100px;
	margin-bottom: 40px;
}

.copy-text {
	border: 1px solid hsl(0, 0%, 80%);
	border-radius: 4px;
	background: white;
	outline: none;
	width: 130px;
	font-size: 18px;
	height: 60px;
	transition: all var(--transition);
}

.copy-text:hover {
	cursor: pointer;
	border: 1px solid hsl(0, 0%, 70%);
	background: hsl(0, 0%, 98%);
}

.copy-text-container {
	height: 150px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav {
	height: 100px;

	display: flex;
	justify-content: space-between;
	padding: 20px;
	box-sizing: border-box;
}

.navbar-title {
	font-size: 42px;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar-buttons {
	display: flex;
	gap: 10px;
}

.nav a {
	border: 1px solid hsl(0, 0%, 80%);
	width: 60px;
	height: 60px;
	border-radius: 50px;

	display: inline-block;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all var(--transition);
}

.nav svg {
	transform: scale(2);
	color: grey;
	transition: all var(--transition);
}

.nav a:hover {
	border: 1px solid hsl(0, 4%, 10%);
}

.nav a:hover svg {
	color: rgb(73, 73, 73);
}

#copyright {
	color: inherit;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
}

#copyright a {
	color: inherit;
}

@media screen and (max-width: 1100px) {
	.unit {
		width: 100%;
	}
}

@media screen and (max-width: 800px) {
	.unit-converter {
		flex-direction: column;
	}

	.units-selector-container {
		width: 80%;
		margin: 0 auto;
	}

	.input-output-container {
		width: 80%;
		margin: 0 auto;
	}

	.nav {
		justify-content: center;
	}

	.navbar-title {
		display: none;
	}

	h1 {
		font-size: 36px;
	}
}

@media screen and (max-width: 500px) {
	.units-selector-container {
		width: 98%;
	}

	.input-output-container {
		width: 98%;
	}
}
