@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&family=Inter:wght@400;500;600;700;800;900&family=Space+Mono:wght@400;700&family=Syne:wght@400;500;600;700;800&display=swap");

:root {
    --transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.dark {
    background: #222;
    color: white;
}

.dark .css-13cymwt-control {
    background: #222;
    border-color: #f8f859;
}

.dark .css-13cymwt-control:hover {
    border-color: #c2c200;
}

.dark .unit-selection-list {
    color: white;
}

.dark .css-t3ipsp-control {
    background: #222;
}

.dark .css-t3ipsp-control {
    border-color: #f8f859;
    box-shadow: 0 0 0 1px #f8f859;
}

.dark .css-t3ipsp-control:hover {
    border-color: #f8f859;
}

.dark .css-1dimb5e-singleValue {
    color: white;
}

.dark .css-tr4s17-option {
    background: #f8f859;
    color: #222;
}

.dark textarea:hover,
.dark .copy-text:hover,
.dark #percision-input:hover {
    border-color: #c2c200;
}

.dark .css-1nmdiq5-menu {
    background: #222;
    border: 1px solid #444;
}

.dark .css-d7l1ni-option {
    background: #111;
}

.dark .css-d7l1ni-option:active {
    background: #111;
}

.dark input,
.dark textarea {
    color: white;
    background: #222;
}

.dark textarea:focus {
    border-color: #f8f859;
    box-shadow: 0 0 0 1px #f8f859;
}

.dark #percision-input:focus {
    border-color: #f8f859;
    box-shadow: 0 0 0 1px #f8f859;
}

.dark #percision-input {
    border-color: #f8f859;
}

.dark nav {
    background: #f8f859;
    color: #222;
}

.dark textarea {
    border-color: #f8f859;
}

.dark nav a {
    background: white;
}

body {
    position: relative;
    margin: 0;
    font-family: "inter", sans-serif;
}

.unit-converter {
    max-width: 1300px;
    margin: 0 auto;

    display: flex;
    align-items: flex-start;
}

.units-selector-container {
    width: 50%;
    display: inline-block;
    padding: 20px;
    box-sizing: border-box;
}

.input-output-container {
    width: 50%;
    display: inline-block;
    padding: 20px;
    box-sizing: border-box;
}

.input-output-container label {
    font-size: 48px;
    text-align: center;
    margin-bottom: 50px;
}

textarea {
    width: 100%;
    resize: none;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid hsl(0, 0%, 80%);
    padding: 5px;
    font-family: "inter";
    font-size: 16px;
    transition: all var(--transition);
}

textarea:hover {
    border-color: hsl(0, 0%, 70%);
}

textarea:focus {
    border-color: #2684ff;
    box-shadow: 0 0 0 1px #2684ff;
    outline: none;
}

.unit {
    width: 400px;
    margin: 20px auto 0;
}

.unit-selection-list {
    margin-top: 2px;
}

h1 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 40px;
    font-weight: 500;
}

.input-output-container h1 {
    margin-bottom: 62px;
}

.css-13cymwt-control {
    transition: all var(--transition);
}

.output-container h1 {
    margin-top: 100px;
    margin-bottom: 40px;
}

.copy-text {
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 4px;
    background: white;
    outline: none;
    width: 130px;
    font-size: 18px;
    height: 60px;
    transition: all var(--transition);
}

.copy-text:hover {
    cursor: pointer;
    border: 1px solid hsl(0, 0%, 70%);
    background: hsl(0, 0%, 98%);
}

.copy-text-container {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    height: 100px;

    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.navbar-title {
    font-size: 42px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-buttons {
    display: flex;
    gap: 10px;
}

nav a {
    border: 1px solid hsl(0, 0%, 80%);
    width: 60px;
    height: 60px;
    border-radius: 50px;

    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all var(--transition);
}

nav svg {
    transform: scale(2);
    color: grey;
    transition: all var(--transition);
}

nav a:hover {
    border: 1px solid hsl(0, 0%, 70%);
}

nav a:hover svg {
    color: rgb(73, 73, 73);
}

#copyright {
    color: inherit;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}

footer {
    width: 100%;
    height: 100px;
}

#copyright a {
    color: inherit;
}

.setting:nth-child(1) {
    margin-bottom: 20px;
}

.setting {
    margin-top: 0;
    width: 100%;
}

#percision-input {
    width: 100%;
    height: 38px;
    margin-top: 2px;

    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid hsl(0, 0%, 80%);
    padding: 5px;
    font-family: "inter";
    font-size: 16px;
    transition: all var(--transition);
}

#percision-input:hover {
    border-color: hsl(0, 0%, 70%);
}

#percision-input:focus {
    border-color: #2684ff;
    box-shadow: 0 0 0 1px #2684ff;
    outline: none;
}

.setting label {
    color: #888;
}

.settings {
    width: 400px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

@media screen and (max-width: 1100px) {

    .unit,
    .settings {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .unit-converter {
        flex-direction: column;
    }

    .units-selector-container {
        width: 80%;
        margin: 0 auto;
    }

    .input-output-container {
        width: 80%;
        margin: 0 auto;
    }

    nav {
        justify-content: center;
    }

    .navbar-title {
        display: none;
    }

    h1 {
        font-size: 36px;
    }
}

@media screen and (max-width: 500px) {
    .units-selector-container {
        width: 98%;
    }

    .input-output-container {
        width: 98%;
    }
}